
<ion-content class="background">
  <div class="form" >
      <ion-select placeholder="niveau primaire" class="select-niveau">
          <ion-select-option value="a">7éme</ion-select-option>
          <ion-select-option value="b">8éme</ion-select-option>
          <ion-select-option value="c">9éme</ion-select-option>
         
        </ion-select>
        <ion-select placeholder="niveau Secondaire" class="select-niveau">
         
          <ion-select-option value="d">1 ére</ion-select-option>
          <ion-select-option value="e">2 éme lettr </ion-select-option>
          <ion-select-option value="f">2 éme informatique</ion-select-option>
          <ion-select-option value="g">2 éme économie gestion</ion-select-option>
          <ion-select-option value="h">2 éme science</ion-select-option>
          <ion-select-option value="i">3 éme lettre </ion-select-option>
          <ion-select-option value="j">3 éme informatique</ion-select-option>
          <ion-select-option value="k">3 éme économie gestion</ion-select-option>
          <ion-select-option value="l">3 éme science</ion-select-option>
          <ion-select-option value="m">3 éme mathematique</ion-select-option>
          <ion-select-option value="n">4 éme lettre </ion-select-option>
          <ion-select-option value="o">4 éme informatique</ion-select-option>
          <ion-select-option value="p">4 éme économie gestion</ion-select-option>
          <ion-select-option value="q">4 éme science</ion-select-option>
          <ion-select-option value="r">4 éme mathematique</ion-select-option>

        </ion-select>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prenom">
        <input type="text" placeholder="Adresse">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Mot de passe">
        <button  ion-button class="btn-inscrit" (click)="inscrit()">enregistrer</button>
        <p class="login" (click)="login()">  se connecter à un compte existant </p>
        

  </div>
</ion-content>
