<ion-header>
  <ion-toolbar>
    <ion-title>
      A propos De Nous
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
      Kartage également  appelée Kartago est une ville <br> située en Tunisie (Afrique du Nord) datant <br> de près de 3000 ans. Au sixième siècle, cette riche et puissante cité phénicienne contrôle les activités maritimes et commerciales en mer Méditerranée. Reconnue comme “empire commercial”, Carthage   a fait fortune grâce au commerce, à la force de son leadership et à l'unité de son peuple.
      Notre objectif est de reconstruire la gloire de Carthage <br>
      Et nous retournons la superpuissance du monde
  </p>
</ion-content>
