<ion-header>
    <ion-toolbar>
      <ion-title>   
        Inscription Parent
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="background">
  <div class="form" >
    
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prenom">
        <input type="text" placeholder="Adresse">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Mot de passe">
        <button  ion-button class="btn-inscrit" (click)="inscrit()">enregistrer</button>
        <p class="login" (click)="login()">  se connecter à un compte existant </p>
        

  </div>
</ion-content>
