<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="matieres"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="cours">
         Cours
        </ion-segment-button>
        <ion-segment-button value="examen">
            Examen
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'cours'">

        <ion-list>
            <ion-list-header> Programation   </ion-list-header>
          <ion-item *ngFor="let cou of cour">
            <ion-label>{{cou.chapiter}}: <a href="{{cou.pdf}}"> Cours 1 </a> 
            <a href="">Video</a></ion-label>
          
          </ion-item>
         
        </ion-list>
        
      </div>
      <div  *ngSwitchCase="'examen'">

      </div>
      
    </div>
</ion-content>
