<ion-header>
  <ion-toolbar>
    <ion-title>   
      <ion-icon name="backspace"href="/tab1"></ion-icon>
      Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class = "background" no-scroll padding>
    <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle> </ion-card-subtitle>
      <ion-card-title>Bienvenue </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Karthago Academy la premiére plateforme mobile educatif tunisienne <br>
        la technologie pour l'éducation
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list >
      <ion-list-header>
        <ion-label>Vous êtes : </ion-label>
      </ion-list-header >
      
    

      <button  ion-button (click)="eleve()" class="btn-login">éleve</button>
      <button  ion-button (click)="parent()" class="btn-parent">Parent</button>
      <button  ion-button (click)="parent()" class="btn-parent">Civile</button>

     
      
      
    </ion-list>
</ion-content>
