<ion-header>
  <ion-toolbar>
    <ion-title>   <ion-icon name="backspace"href="/tab1"></ion-icon>
      Kartago_Academy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class = "background" no-scroll padding>
    <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle> </ion-card-subtitle>
      <ion-card-title>Bienvenue </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Karthago Academy la premiére plateforme mobile educatif tunisienne <br>
        la technologie pour l'éducation
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list >
      <ion-list-header>
        <ion-label>Vous êtes : </ion-label>
      </ion-list-header >
      <ion-item href="">
        <ion-label>coach</ion-label>
      </ion-item>

      <ion-item href="">
        <ion-label>élève</ion-label>
      </ion-item>

      <ion-item href="">
        <ion-label>Parents</ion-label>
      </ion-item>
      
      
    </ion-list>
</ion-content>
