ion-content{
  background-size: cover;
  text-align: center;
}
ion-content.background{
 --background: url("../../assets/img/background-login.jpg")0 0/100% 100% no-repeat;
  
}
.form{
  margin-top: 50%;
}

button{
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow:  0 10px 30px 0 rgba(95,186,233,0.4) ;
  margin: 0px;
}
.btn-coach{
   margin-top: 30px;
   text-align: center;
   border:none;
   text-decoration: none;
   display: inline-block;
   text-transform: uppercase;
   font-size: 13px;
   transition: all 0.3s ease-in-out;
   width: 85%;
   height: 35px;
   color: #ffffff;
   background-color: #d33939;
   //#64a4ae
}

.inscrit{
  margin-top: 50px;
  color: #585858;
}
.btn-login{
  margin-top: 10px;
  text-align: center;
  border:none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  width: 85%;
  height: 35px;
  color: #ffffff;
  background-color: #24AFBF;
}
.btn-parent{
  margin-top: 10px;
  text-align: center;
  border:none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  width: 85%;
  height: 35px;
  color: #ffffff;
  background-color: #24AFBF;
}